*{
    padding: 0%;
    margin: 0%;
}
body{
    background: linear-gradient(65deg, #802392, #a5f8d3);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.menu-bar{
    background-color: #9a98b5;
    text-align: center;
    height: 100px;
}
.menu-bar ul{
    display: inline-flex;
    color: black;
    list-style: none;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.active, .menu-bar ul li:hover{
    background: #a0b9c6;
    border-radius: 3px;
}
.menu-bar .fa-solid{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #9a98b5;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 140px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
table {
    font-family: verdana;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    
    width: 590px;
    margin : 50px;
    border-collapse: collapse;
}

caption {
    font-size: 20px;
    font-weight: bold;
    color : darkviolet;
    padding : 8px;
}

td, th {
    padding: 8px;
    border: 2px solid purple;
}

tr:nth-child(odd) {
    background-color: thistle;
}

tr:nth-child(even) {
    background-color: lavender;
} 

th {
    font-weight: bold;
    color:white;
    background-color: darkviolet;
}
    
button {
    font-family: verdana;
    font-weight: bold;
    font-size: 11px;
    color: darkolivegreen;
    text-align: center;
        
    width: 90px;
    padding : 7px 8px 7px 32px;
    border: 1px solid darkolivegreen;
    border-radius: 7px;
    margin-top: 10px;
    background-position: 8px;
    background-repeat: no-repeat;
}

button.cetak {
    background-image: url(printer-icon.png);
}

button.papar {
    background-image: url(Terminal-icon.png);
}

button:hover {
    background-color:darkgray;
}
    