*{
    padding: 0%;
    margin: 0%;
}
body{
    background: linear-gradient(65deg, #802392, #a5f8d3);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

    table {
        font-family: verdana;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        
        width: 590px;
        margin : 0px;
        border-collapse: collapse;
    }

    caption {
        font-size: 20px;
        font-weight: bold;
        color : darkviolet;
        padding : 8px;
    }

    td, th {
        padding: 8px;
        border: 2px solid purple;
    }

    tr:nth-child(odd) {
        background-color: thistle;
    }

    tr:nth-child(even) {
        background-color: lavender;
    } 

    th {
        font-weight: bold;
        color:white;
        background-color: darkviolet;
    }
        
    button {
        font-family: verdana;
        font-weight: bold;
        font-size: 11px;
        color: darkolivegreen;
        text-align: center;
            
        width: 90px;
        padding : 7px 8px 7px 32px;
        border: 1px solid darkolivegreen;
        border-radius: 7px;
        margin-top: 10px;
        background-position: 8px;
        background-repeat: no-repeat;
    }

    button.cetak {
        background-image: url(printer-icon.png);
    }

    button.papar {
        background-image: url(Terminal-icon.png);
    }

    button:hover {
        background-color:darkgray;
    }


