*{
    padding: 0%;
    margin: 0%;
}
body{
    background: linear-gradient(65deg, #802392, #a5f8d3);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.menu-bar{
    background-color: #9a98b5;
    text-align: center;
    height: 100px;
}
.menu-bar ul{
    display: inline-flex;
    color: black;
    list-style: none;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.active, .menu-bar ul li:hover{
    background: #a0b9c6;
    border-radius: 3px;
}
.menu-bar .fa-solid{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #9a98b5;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 140px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.form-tambah{
    margin: 50px;
}
h3 {
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color:white;
    
    padding:5px 22px;
    border-radius: 10px 10px 0 0;
    margin: 20px auto 0px;
    background-color:#802392;
}

h3.tajuk {
    margin-top: 30px;
    font-size: 24px;
    border-radius: 0px;
    padding:15px;
}

form {
    font-family: verdana;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: black;
    
    padding: 20px;
    border:2px solid #995fa3;
    border-radius:0px 0px 10px 10px;
    margin:0px auto;
    background-color:thistle;
}

form.login, h3.login {
    width:250px; 
}

form.signup, h3.signup {
    width:250px; 
}

form.sewaan, h3.sewaan {
    width:300px; 
}


	
form.klien, h3.klien {
    width:300px;
}

form.import, h3.import {
    width:350px;
}

form.homestay, h3.homestay {
    width:400px;
}

input[type="text"].readonly {
    background-color: lightgray;
    color : gray;
}

/* cantumkan sekali */
input[type="text"], 
input[type="password"], 
input[type="date"], select {
    padding:5px; 
    margin: 5px;
}

input[type="submit"] {
    width: 80px;
    margin: 5px;
    padding: 5px;
}

table {
    font-family: verdana;
    font-size: 12px;
}

button {
    font-family: verdana;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    color: darkolivegreen;
    
    width: 90px;
    padding : 7px 8px 7px 32px;
    border: 1px solid darkolivegreen;
    border-radius: 7px;
    margin-top: 10px;
    background-position: 8px;
    background-repeat: no-repeat;
}



button:hover {
     background-color:darkgray;
}

button.update {
    background-image: url(update.png);
}

button.login {
    background-image: url(signin.png);
}

button.signup {
    background-image: url(signup.png);
}

button.save {
    background-image: url(save.png);
}

button.tempah {
    background-image: url(house.png);
}

button.import {
    background-image: url(import.png);
}


    